@import "../../scss/config";

.bots-dash {
  color: $headline;
  margin: 20px;

  h2 {
    margin-bottom: 20px;
    margin-left: 30px;
  }

  .bots-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(335px, 2fr));

    .bot-card {
      background-color: $card-background;
      border-radius: 5px;
      padding: 15px;

      // review
      .bot {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 10px;

        .img-container {
          display: flex;
        }

        .specs-container {
          max-width: 216px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          h2 {
            font-size: 16px;
            margin: 0;
          }

          ul {
            .no-dashboard {
              display: none;
            }

            li {
              list-style: none;
              padding: 5px 0;
              font-size: 12px;

              .bot-spec {
                color: $paragraph;
                display: block;
                line-height: 3;
              }
            }
          }
        }
      }
    }
  }
}
