$website-width: 1000px;
$font-stack: "Roboto Mono", monospace;
$title-font: "Monoton", cursive;

// https://www.happyhues.co/palettes/4
$background-color: #16161a;
$headline: #fffffe;
$paragraph: #94a1b2;
$card-background: #242629;
$accent-color: #7f5af0;
