@import "config";

.custom-button {
  color: $headline;
  padding: 5px 10px;
  background-color: $accent-color;
  border-radius: 5px;
  border: 2px solid $accent-color;
  cursor: pointer;
  transition: all 700ms;
  font-family: inherit;

  &:hover {
    background-color: $card-background;
  }

  &.btn-bg {
    padding: 15px;
    font-size: 18px;
    letter-spacing: 1px;
    width: 240px;
  }
}
