@import "config";

.hero {
  color: $headline;
  padding: 20px;

  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: clamp(1.4rem, 3.5vw, 2rem);
  }

  p {
    color: $paragraph;
    margin-bottom: 20px;
    text-align: justify;
    text-justify: inter-word;
  }

  .buttons-container {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;

    .hero-buttons {
      display: grid;
      align-items: center;
      justify-items: center;
      gap: 20px;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }
  }

  .success-display {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

    background-color: $card-background;
    border-radius: 5px;
    padding: 10px;

    h3 {
      text-align: center;
    }
  }
}
