@import "config";

.tasks-dash {
  color: $headline;
  margin: 20px;

  h2 {
    margin-bottom: 20px;
    margin-left: 30px;
  }

  .list-container {
    background-color: $card-background;
    border-radius: 5px;
    padding: 30px;
    padding: clamp(0.75rem, 3.5vw, 1.875rem);

    ul {
      li {
        list-style: none;
        color: $headline;
        padding: 5px 0;
        font-size: clamp(0.75rem, 3.5vw, 1rem);

        input {
          margin-right: 10px;

          &:checked + label {
            text-decoration: line-through;
          }
        }
      }
    }
  }
}
